body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 43.75em) {
  /* CSS rules here */
  .address,
  .address__salutation {
    font-size: 2.8em;
  }

  
}


.social-media{
  text-decoration: none;
}
